<?xml version="1.0" encoding ="UTF-8"?>
<launch>
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
		    <arg name="vehicle" value="iris" />
	</include>		 
	<node pkg="control" type="controller" name="controller"/>
	<!-- <node pkg="frame" type="img_con" name="img_con"/>
	<node pkg="frame" type="transform" name="transform" output="screen">
		<remap from="transform/odom" to="mavros/local_position/odom"/>
	</node>
	<rosparam file = "$(find frame)/config/params.yaml"/> -->
	
	<node pkg="detector_ros" type="detector_node" name="detector_node"/>
	
</launch>
