<?xml version="1.0" encoding ="UTF-8"?>
<launch>
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
		    <arg name="vehicle" value="iris" />
	</include>		 
	<node pkg="control" type="controller" name="controller"/>
	<!-- <node pkg = "planner_ros" type="planner_ros_node" name="planner_node" output="screen"/> -->
	
	<node pkg="pose_estimation_ros" type="pose_estimation_ros_node" name="pose_estimation_node" output="screen"/>
	<node pkg="detector_ros" type="detector_ros_node" name="detector_node" output="screen">
		<rosparam file="$(find detector_ros)/config/param.yaml"/>
		<remap from="image_raw" to="iris/camera_red_iris/image_raw" />
	</node>
</launch>
