<?xml version="1.0" encoding ="UTF-8"?>
<launch>
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
		    <arg name="vehicle" value="iris" />
	</include>		 
	<node pkg="control" type="controller" name="controller"/>
	
	<node pkg="detector_ros" type="detector_ros_node" name="detector_node" output="screen" />
	
</launch>