<?xml version="1.0" ?>
<model>
  <name>iris with depth camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Ishir Roongta</name>
    <email>ishir@iitk.ac.in</email>
  </author>
  <description>
    <!-- The table to be used as the simulated ship, with all the required components, and also with the communications module rigidly attached to it. -->
  </description>
</model>