<?xml version="1.0" ?>
<model>
    <name>iROS2016 Track</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Seungho Kim</name>
        <email>isho@unist.ac.kr</email>
    </author>
    <description>iROS 2016 Drone Racing(http://ris.skku.edu/home/iros2016racing.html) Final Track</description>
</model>
